@use "./setting" as *;

@mixin pc($px: $breakPoint) {
    @media screen and (min-width: ($breakPoint)){
      @content;
    }
}

@mixin hover {
  opacity: 1;
  transition: all .3s;
  &:hover {
    opacity: 1;
    @include pc {
      opacity: .7;
    }
  }

}
  
// pxをvwに変換
@function vw($px){
  @return calc($px / 375 * 100vw);
}

// 375px→500pxに変換
@function w500($px){
  @return calc(#{$px}px * ($base / 375));
}

// line-heightを変換
@function lh($px, $lh){
@return calc($lh / $px);
}

// letter-spacingを変換
@function ls($px){
@return calc($px / 1000 * 1em);
}
