@use "../global/mixin" as *;
@use "../global/setting" as *;

.u-nopc {
    display: block;
    @include pc {
        display: none;
    }
}

.u-nosp {
    display: none;
    @include pc {
        display: block;    
    }
}

.u-font-bold {
    font-weight: bold;
}

.u-color-gold {
    color: $gold;
}

.u-color-green {
    color: $green;
}
.u-color-red {
    color: $red;
}

