<div class="c-modal js-modal" id="modal01">
    <div class="c-modal__inner">
      <button class="c-modal__close js-modal-close"><img src="./assets/images/icon/icon-cross-02.png" alt="閉じる"></button>
      <div class="c-modal__content">
        <h2 class="c-modal__ttl">
          #感動をよくばれキャンペーン<br>
          <span class="u-color-red">東京ダービー</span>×<span class="u-color-green">日本ダービー</span><br>
          応募規約
        </h2>
        <div class="c-modal__heading">
          <p class="c-modal__heading-notes">事前に以下の応募要項を全てお読みいただき、ご同意いただいたうえで当キャンペーンにご応募ください。</p>
          <p class="c-modal__heading-text">本規約は特別区競馬組合（以下「本組合」といいます）が提供する「 #感動をよくばれキャンペーン」（以下「本キャンペーン」といいます）に関する諸条件を定めるものです。本キャンペーンに応募するお客様（以下「応募者」といいます）は、本規約に同意の上ご応募ください。 </p>
        </div>

        <dl class="c-modal__item">
          <dt>参加方法</dt>
          <dd>6/1(日)開催の日本ダービー、 6/11(水)開催の東京ダービー のいずれか、または双方のレースの500円以上の投票内容照会画像、および必要項目をキャンペーンサイト内応募フォームより入力の上ご応募ください。</dd>
        </dl>

        <dl class="c-modal__item">
          <dt>馬券画像に関して</dt>
          <dd>
            下記サービスで購入された投票内容照会画面の画像のみを当選対象とさせていただきます。
            <ul class="c-modal__list">
              <li>即PAT</li>
              <li>SPAT4</li>
              <li>UMACAスマート</li>
            </ul>
          </dd>
        </dl>

        <ul class="c-modal__notes">
          <li>窓口や券売機で購入した馬券画像は対象外となります。あらかじめご了承くださいませ。</li>
        </ul>

        <dl class="c-modal__item">
          <dt>応募期間</dt>
          <dd>2025/5/31(土)00:00〜6/14(土)23:59</dd>
        </dl>

        <dl class="c-modal__item">
          <dt>当選賞品</dt>
          <dd>
            <ul class="c-modal__list">
              <li>
                6/1(日)開催の日本ダービー、6/11(水)開催の東京ダービーのいずれかに参加の場合<br>
                抽選で80名様にデジコポイント5,000円分をプレゼント。
              </li>
              <li>
                6/1(日)開催の日本ダービー、6/11(水)開催の東京ダービー双方に参加の場合<br>
                抽選で80名様にデジコポイント5,000円分をプレゼントの権利に加え、Wチャンスとして、抽選で20名様にデジコポイント10,000円分をプレゼント。
              </li>
            </ul>
          </dd>
        </dl>

        <dl class="c-modal__item">
          <dt>当選発表</dt>
          <dd>キャンペーン期間終了後に抽選を行います。追って当選者にのみ、キャンペーン事務局よりメールにて賞品の送付をいたします。入力メールアドレスが無効の場合にはご案内ができませんので、ご注意ください。</dd>
        </dl>
        
        <dl class="c-modal__item">
          <dt>注意事項</dt>
          <dd>
            <ul class="c-modal__list">
              <li>同一人物の複数応募が確認された場合、ご応募は無効とさせていただきます。</li>
              <li>アップロードした画像が不鮮明な場合、また入力内容にご応募は無効とさせていただきます。</li>
              <li>当選の権利を他人に譲渡することはできません。</li>
              <li>応募対象者は日本国内にお住まいの20歳以上の方に限ります。</li>
              <li>応募にあたって必要な通信費等は応募者の負担となります。</li>
              <li>本規約に定めのない事項については、本組合の判断により決定します。</li>
              <li>本キャンペーンでは、事務局よりご連絡させていただく場合があります。</li>
            </ul>
          </dd>
        </dl>
        
        <dl class="c-modal__item">
          <dt>禁止事項</dt>
          <dd>
            次の行為は禁止です。次のいずれかに該当する場合、応募を無効とします。
            <ul class="c-modal__list">
              <li>本規約に関する違反行為</li>
              <li>第三者の財産、著作権などの権利、プライバシーもしくは肖像権を侵害する行為、またはその恐れのある行為</li>
              <li>法令に違反する行為、または公序良俗に反する行為</li>
              <li>本組合の提供するサービス以外に宣伝、営業行為またはそれに準ずる恐れのある行為</li>
              <li>本キャンペーンの運営を妨げる行為</li>
              <li>実在または架空の第三者になりすまして応募する行為</li>
              <li>上記に準ずる行為など、本キャンペーンの趣旨に鑑みて本組合が不適切と判断する行為</li>
            </ul>
          </dd>
        </dl>
        
        <dl class="c-modal__item">
          <dt>免責事項等</dt>
          <dd>
            <ul class="c-modal__list">
              <li>やむを得ない事情などにより、本キャンペーンの変更・中止または本規約の変更をすることがあります。このことにより生じた損害または不利益について、本組合は一切の責任を負わないものとします。</li>
              <li>本組合の故意または重大な過失による場合を除き、本キャンペーンの運営または応募に関して生じた損害または不利益について、本組合は一切の責任を負わないものとします。</li>
              <li>本規約の準拠法は日本法とし、万一本組合と応募者との間で紛争が起きた場合、東京地方裁判所を第一審の専属的管轄裁判所とします。</li>
            </ul>
          </dd>
        </dl>
        
        <dl class="c-modal__item">
          <dt>個人情報の取り扱い</dt>
          <dd>
            本組合は、本キャンペーンの中で応募者から取得した個人情報を次の通り適切に取り扱います。
            <ul class="c-modal__list">
              <li>取得した個人情報は本キャンペーンの運営（ご本人への連絡を含む）のみに利用します。</li>
              <li>個人情報保護管理体制について一定の水準に達していると本組合が判断した会社に対して、利用目的の達成に必要な範囲内で個人情報の取り扱いを委託する場合があります。</li>
              <li>
                本組合に対して本件に関する個人情報の使用目的の通知、開示、第三者提供記録の開示、内容の訂正、追加または削除、利用の停止、消去および第三者への提供の停止に関して、下記のキャンペーン事務局に申し出ることができます。その際、本組合はご本人を確認させていただいた上で、合理的な期間内に対応します。
              </li>
              <li>応募者が本組合に個人情報を提供されるかどうかは任意によるものです。ただし、必要な項目をいただけない場合、適切な対応ができない場合があります。</li>
              <li>本組合サイト上では（お客様に最適なサービスを提供するため）クッキー、Webビーコン等を使用しています。</li>
              <li>その他個人情報やクッキーの取り扱いに関する詳細は本組合リーガル≪<a href="https://www.tokyocitykeiba.com/legal" class="c-modal__link" target="_blank">https://www.tokyocitykeiba.com/legal</a>≫をご覧ください。</li>
            </ul>
          </dd>
        </dl>

        <div class="c-modal__contact">
          <h3 class="c-modal__contact-ttl">キャンペーンに関するお問い合わせ先</h3>
          <p class="c-modal__text">キャンペーンに関する問い合わせ先は次のとおりです。なお、応募受付の確認、審査に関するお問い合わせについては回答いたしかねます。</p>
          <p class="c-modal__text">
            #感動をよくばれキャンペーン事務局（株式会社CARTA MARKETING FIRM 内)<br>
            <a href="mailto:tck_jra_campaign@cartahd.com" class="c-modal__link">tck_jra_campaign@cartahd.com</a><br>
            本キャンペーンは本組合が企画し、株式会社CARTA MARKETING FIRMが主体となって運営しております。
          </p>
        </div>
      </div>
    </div>
    <button class="c-modal__overlay js-modal-close"></button>
  </div>