<section class="c-user-entry">
    <div class="c-user-entry__jra">
      <div class="c-user-entry__contents">
        <div class="c-user-entry__heading">
          <h2 class="c-user-entry__ttl"><span>JRA</span><br>インターネット投票</h2>
          <div class="c-user-entry__login">
            <h3 class="c-user-entry__sub-ttl">既に会員の方</h3>
            <p class="c-btn-shadow--green">
              <a href="https://www.ipat.jra.go.jp" class="c-btn__link" target="_blank"><span>JRA インターネット<br>投票はこちら</span></a>
            </p>
            <p class="c-user-entry__bnr"><a href="https://www.ipat.jra.go.jp/sp/umaca/" target="_blank"><img src="<%= pagePath %>/assets/images/bnr/bnr-content-01.png" alt="UMACA"></a></p>
          </div>
        </div>
        <div class="c-user-entry__join">
          <h3 class="c-user-entry__sub-ttl">新規入会を<br>ご希望される方</h3>
          <p class="c-btn-shadow--green">
            <a href="https://www.jra.go.jp/dento/soku/about.html" class="c-btn__link" target="_blank"><span>新規入会はこちら</span></a>
          </p>
        </div>
      </div>
    </div>

    <div class="c-user-entry__local">
      <div class="c-user-entry__contents">
        <div class="c-user-entry__heading">
          <h2 class="c-user-entry__ttl"><span>地方競馬</span><br>インターネット投票</h2>
          <div class="c-user-entry__login">
            <h3 class="c-user-entry__sub-ttl">既に会員の方</h3>
            <p class="c-user-entry__bnr"><a href="https://n.ipat.jra.go.jp" target="_blank"><img src="<%= pagePath %>/assets/images/bnr/bnr-content-02.png" alt="ネット投票×大井競馬場"></a></p>
            <p class="c-user-entry__bnr"><a href="https://www.spat4.jp/keiba/pc" target="_blank"><img src="<%= pagePath %>/assets/images/bnr/bnr-content-03.png" alt="SPAT4で、毎日がドラマティック"></a></p>
          </div>
        </div>
        <div class="c-user-entry__join">
          <h3 class="c-user-entry__sub-ttl">新規入会を<br>ご希望される方</h3>
          <p class="c-btn-shadow--red">
            <a href="https://spat4special.jp" class="c-btn__link" target="_blank"><span>新規入会はこちら</span></a>
          </p>
        </div>
      </div>
    </div>
  </section>