<footer class="l-footer">
    <p class="l-footer__logo"><img src="./assets/images/icon/icon-footer-logo.png" alt="TCK"></p>

    <ul class="l-footer__list">
        <li class="l-footer__item"><a href="" class="l-footer__link"><img src="./assets/images/icon/icon-x.png" alt="X"></a></li>
        <li class="l-footer__item"><a href="" class="l-footer__link"><img src="./assets/images/icon/icon-line.png" alt="LINE"></a></li>
        <li class="l-footer__item"><a href="" class="l-footer__link"><img src="./assets/images/icon/icon-youtube.png" alt="YouTube"></a></li>
        <li class="l-footer__item"><a href="" class="l-footer__link"><img src="./assets/images/icon/icon-insta.png" alt="Instagram"></a></li>
        <li class="l-footer__item"><a href="" class="l-footer__link"><img src="./assets/images/icon/icon-facebook.png" alt="facebook"></a></li>
    </ul>
    <p class="l-footer__copy"><small>COPYRIGHT 2025. TOKYOCITYKEIBA. ALL RIGHTS RESERVED.</small></p>
</footer>
    <script type="module" src="/assets/js/bundle.js"></script>
</body>
</html>