<footer class="l-footer">
    <p class="l-footer__logo"><a href="https://www.tokyocitykeiba.com" target="_blank"><img src="./assets/images/icon/icon-footer-logo.png" alt="TCK"></a></p>

    <ul class="l-footer__list">
        <li class="l-footer__item"><a href="https://x.com/tck_keiba" class="l-footer__link" target="_blank"><img src="./assets/images/icon/icon-x.png" alt="X"></a></li>
        <li class="l-footer__item"><a href="https://lin.ee/UwEcglL" class="l-footer__link" target="_blank"><img src="./assets/images/icon/icon-line.png" alt="LINE"></a></li>
        <li class="l-footer__item"><a href="https://www.youtube.com/user/tckkeiba/" class="l-footer__link" target="_blank"><img src="./assets/images/icon/icon-youtube.png" alt="YouTube"></a></li>
        <li class="l-footer__item"><a href="https://www.instagram.com/tck_keiba_official/" class="l-footer__link" target="_blank"><img src="./assets/images/icon/icon-insta.png" alt="Instagram"></a></li>
        <li class="l-footer__item"><a href="https://www.facebook.com/tokyocitykeiba" class="l-footer__link" target="_blank"><img src="./assets/images/icon/icon-facebook.png" alt="facebook"></a></li>
    </ul>
    <p class="l-footer__copy"><small>COPYRIGHT 2025. TOKYOCITYKEIBA. ALL RIGHTS RESERVED.</small></p>
</footer>
    <script src="/assets/js/swiper.min.js"></script>
    <script type="module" src="/assets/js/bundle.js"></script>
</body>
</html>