<div class="p-jra-tck-left u-nosp">
    <div class="p-jra-tck-left__wrap">
        <p class="p-jra-tck-left__text"><img src="<%= pagePath %>/assets/images/img-text-pc-left-02.png" alt="感動をよくばれ"></p>
        <p class="p-jra-tck-left__date"><img src="<%= pagePath %>/assets/images/img-text-pc-left-01.png" alt="6.1SUN 15:40[G1] 日本ダービー"></p>
    </div>
</div>