@use "../global/mixin" as *;
@use "../global/setting" as *;

.l-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: vw(58);
    padding: vw(16) vw(17) 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    @include pc {
        padding: 13px 17px;
        width: auto;
        height: auto;
        background: none;
    }

    &__logo{
        max-width: vw(42);
    }
    &__list {
        display: flex;
        gap: 10px;
        @include pc {
            display: none;
        }

    }
    &__item {
        &:nth-child(1) {
            max-width: vw(120);
        }
        &:nth-child(2) {
            max-width: vw(70);
        }
    }
}